# Ignore the virtual environment
venv/
ENV/
env/

# Ignore the local database (your friend will generate their own locally)
*.sqlite3

# Ignore Python cache folders
__pycache__/
*.pyc

# Ignore OS files
.DS_Store
Thumbs.db